body{
    font-family: 'League Spartan', sans-serif;

}
h1 ,h5{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}
.content{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
.content__title{
    align-items: center;
    text-align: center;
}
.header__text{
    font-weight: 400;
    color:hsl(303, 10%, 53%);
}
.cards__stars{
    background-color: hsl(300, 24%, 96%);
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0px;
}
h5{
    margin: 8px 0px 0px 0px;
}
.article--bg{
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}
.article__header{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
}
.article__address{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.article__address--font{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-style: normal;
}
.article__verified{
    color: hsl(333, 80%, 67%);
    font-weight: 500;
    margin-top: 5px;
}
.article__text{
    font-size: 15px;
    color:hsl(0, 0%, 100%);
    font-weight: 400;
}
.people{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}