body{
    font-family: 'League Spartan', sans-serif;
    
}
h1 ,h5{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}
.bg--top{
    width: 374px;
    height: 232px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(/images/bg-pattern-top-mobile.svg);
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.bg--bottom{
    width: 374px;
    height: 232px;
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: url(/images/bg-pattern-bottom-mobile.svg);
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.content{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
.content__title{
    align-items: center;
    text-align: center;
}
.header__text{
    font-weight: 400;
    color:hsl(303, 10%, 53%);
}
.cards__stars{
    background-color: hsl(300, 24%, 96%);
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0px;
}
h5{
    margin: 8px 0px 0px 0px;
}
#firstArticle{
    margin-top: 40px;
}
.article--bg{
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}
.article__header{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
}
.article__address{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.article__address--font{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-style: normal;
}
.article__verified{
    color: hsl(333, 80%, 67%);
    font-weight: 500;
    margin-top: 5px;
}
.article__text{
    font-size: 15px;
    color:hsl(0, 0%, 100%);
    font-weight: 400;
}
.people{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

/* RESPONSIVE */
@media only screen and (min-width: 913px) {
    .bg--top{
        width: 584px;
        height: 362px;
        background: url(/images/bg-pattern-top-desktop.svg);
    }
    h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
    .header__text{
        margin-top: 0;
    }
    .content__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .content__title--header{
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: left;
    }
    .content__title--main{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    h5{
        margin: 0px;
        font-size: 15px;
    }
    .cards__stars{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }
    .cards__stars--img{
        margin-right: 0px;
    }
    .card__one{
        margin-right: 80px;
    }
    .card__two{
        margin-left: 40px;
        margin-right: 40px;
    }
    .card__three{
        margin-left: 80px;
    }
    .icon_star{
        float: left;
        margin:4px;
    }
}